@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #272a2d;
  width: 100%;
  min-height: 100vh;
  background: url("../web-img/background.jpg");
  background-position: top;
  background-repeat: repeat-y;
  background-size: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow-x: hidden;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.layout__nav {
  height: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__back {
  width: 80px;
  height: 100%;
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px #202020;
  padding-top: 2rem;
}

.nav__img-container {
}

.search__layout {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.search__bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.search__bar {
  height: 5rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.search__bar-container::before {
  pointer-events: none;
  position: absolute;
  content: "";
  width: 101%;
  height: 100%;
  background-color: red;
  z-index: -1;
  top: 0px;
  left: -0.5%;
  background: conic-gradient(
    from 90deg at 50% 50%,
    #ce9e26,
    #e67a2a,
    #e76b41,
    #e73aa4,
    #e0667b,
    #e3a562
  );
  filter: blur(8px);
  opacity: 1;
}

.recetas__layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.receta__layout {
  flex-basis: 1;
  width: 300px;
  margin: 20px 0px 100px 10px;
  height: 300px;
  position: relative;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.receta__layout::before {
  position: absolute;
  content: "";
  width: 206px;
  height: 306px;
  background-color: red;
  z-index: -1;
  border-radius: 25px;
  top: -3px;
  left: -3px;
  background: conic-gradient(
    from 90deg at 50% 50%,
    #ce9e26,
    #e67a2a,
    #e76b41,
    #e73aa4,
    #e0667b,
    #e3a562,
    #f1ce75,
    #e3a562,
    #e0667b,
    #e73aa4,
    #e76b41,
    #e67a2a,
    #ce9e26
  );
  filter: blur(8px);
}

.receta__nombre {
  border-top: solid 8px rgba(255, 255, 255, 1);
  width: 300px;
  height: 100px;
  text-align: center;
  color: white;
  background-color: rgba(29, 29, 29, 0.8);
  font-size: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-wrap: balance;
  position: relative;
  z-index: 2;
}

.receta__nombre::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #e73aa4;
  background: linear-gradient(45deg, #e73aa4, #e76b41, #e67a2a);
  pointer-events: none;
  left: 0;
  top: -16px;
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.receta__layout:hover .receta__nombre::after {
  left: 0;
  top: -8px;
  opacity: 1;
}

.receta__img-container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.receta__img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

@media (min-width: 400px) {
  .receta__layout {
    width: 180px;
    margin: 0px;
    height: 180px;
    margin-bottom: 120px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .receta__layout::before {
    position: absolute;
    content: "";
    width: 186px;
    height: 186px;
    top: -3px;
    left: -3px;
  }

  .receta__img-container {
    width: 180px;
    height: 180px;
  }

  .receta__nombre {
    width: 180px;
    font-size: 1.8rem;
  }
}

@media (min-width: 540px) {
  .receta__layout {
    width: 180px;
    margin: 0px;
    height: 180px;
    margin-bottom: 120px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .receta__layout::before {
    position: absolute;
    content: "";
    width: 186px;
    height: 186px;
    top: -3px;
    left: -3px;
  }

  .receta__img-container {
    width: 180px;
    height: 180px;
  }

  .receta__nombre {
    width: 180px;
    font-size: 1.8rem;
  }
}

@media (min-width: 700px) {
  .receta__layout {
    width: 200px;
    margin: 0px;
    height: 200px;
    margin-bottom: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .receta__layout::before {
    position: absolute;
    content: "";
    width: 206px;
    height: 206px;
    top: -3px;
    left: -3px;
  }

  .receta__img-container {
    width: 200px;
    height: 200px;
  }

  .receta__nombre {
    width: 200px;
  }
}

.layout__detalles {
  background-color: rgba(29, 29, 29, 0.8);
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detalles__receta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detalles__video-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 404px;
  height: 404px;
  border: solid 2px #cf9e26;
}

.detalles__video {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.detalles__info {
  margin: 2rem;
}

.detalles__titulo {
  border-radius: 25px;
  color: white;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  background-color: rgba(29, 29, 29, 0.8);
  text-shadow: 2px 2px 5px #202020;
  padding: 2rem;
}

.ingredientes__pasos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.lista__ingredientes {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-width: 300px;
}

.ingredientes__titulo {
  color: white;
  font-size: 2.4rem;
  padding-bottom: 1rem;
  background-color: #cf9e26;
  text-shadow: 2px 2px 5px #202020;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.ingrediente {
  color: white;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}

.lista__pasos {
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-width: 300px;
}

@media (max-width: 500px) {
  .detalles__video-container {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 304px;
    width: 100%;
    height: 304px;
    border: solid 2px #cf9e26;
  }

  .detalles__video {
    width: 300px;
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 400px) {
  .lista__ingredientes {
    width: 100%;
  }

  .lista__pasos {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .lista__ingredientes {
    min-width: 300px;
    width: 50%;
  }

  .lista__pasos {
    min-width: 300px;
    width: 50%;
  }

  .detalles__video-container {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 404px;
    border: solid 2px #cf9e26;
  }

  .detalles__video {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.pasos__titulo {
  color: white;
  font-size: 2.4rem;
  padding-bottom: 1rem;
  background-color: #cf9e26;
  text-shadow: 2px 2px 5px #202020;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.paso {
  color: white;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}
